@import './config.styl'
.around-padding
  padding $gap
  box-sizing border-box
  width 100%
.content-padding
  padding $top-btn-gap $left-right-gap
  box-sizing border-box
  width 100%
.content-margin
  margin $top-btn-gap 0
.item-margin
  margin $gap 0
.item-big-margin
  margin $big-gap 0
.item-huge-margin
  margin $huge-gap 0
.center
  display flex
  flex-direction column
  justify-content center
  align-items center
.vertical-middle
  display flex
  align-items center
.horizontal-center
  display flex
  flex-direction column
  align-items center